<casperjs>
	<template>
		<directory>/Users/chenhanrong/GitHub/BB/src/crawler/casperjs/template
		</directory>

		<javascripts>
			<searchGood>SearchGood.js</searchGood>
			<getCurrentPageLinks>GetCurrentPageLinks.js</getCurrentPageLinks>
			<getNextPageLinkURL>GetNextPageLinkURL.js</getNextPageLinkURL>
			<getGoodData>GetGoodData.js</getGoodData>
		</javascripts>
	</template>

	<temp>
		<directory>
			/Volumes/UDisk/data/casperjsInstanceFiles
		</directory>
	</temp>
</casperjs>